<div class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card-group col-sm-6">
                    <div class="card p-4">
                        <div class="card-body">
                            <h2>Login</h2>
                            <p>Acessar sua conta</p>
                            <form #f="ngForm" (ngSubmit)="onSubmit(f)" method="post">
                                <div class="input-group mb-3" >
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input type="text" class="form-control" name="email" id="email" placeholder="Username" required [ngModel]="valores.email"/>
                                </div>
                                <div class="input-group mb-4">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                    <input type="password" class="form-control" name="senha" id="senha" placeholder="Password" required [ngModel]="valores.senha"/>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <button type="submit" name="btnLogin" id="btnLogin" class="btn btn-primary">Logar</button>
                                    </div>
                                    <div class="col-md-6 text-right">
                                        <button type="button" name="btnForgot" id="btnForgot" class="btn btn-link px-0">Esqueceu a senha ?</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>